---
title: patrick
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}{% if subtitle %} / {{ subtitle }}{% endif %}{% if pagetitle %} / {{ pagetitle }}{% endif %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/common.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if subtitle and subtitle === "articles" and pagetitle %}
      <script data-ad-client="ca-pub-6666679441576159" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6666679441576159"
     crossorigin="anonymous"></script>
    {% endif %}
  </head>
  <body>
    <h1 id="top"><a href="/">{{ title }}</a></h1>
    <nav class="site-nav">
      <ul>
        <li><a href="/articles">articles</a></li>
        <li><a href="/lab">lab</a></li>
        <li><a href="/resume">resume</a></li>
        <li><a href="https://twitter.com/patrickbrosset">twitter</a></li>
        <li><a href="https://github.com/captainbrosset/">github</a></li>
        <li><a href="http://codepen.io/captainbrosset/">codepen</a></li>
      </ul>
    </nav>
    <main>
      {{ content | safe }}
    </main>
    {% if subtitle %}
    <footer role="contentinfo">&copy; {% year %} Patrick Brosset<a href="#top">Back to top</a></footer>
    {% endif %}
  </body>
</html>
