---
title: patrick
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}{% if subtitle %} / {{ subtitle }}{% endif %}{% if pagetitle %} / {{ pagetitle }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/assets/common.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style></style>
  </head>
  <body>
    <h1><a href="/">{{ title }}</a>{% if subtitle %} / <a href="/{{ subtitle }}">{{ subtitle }}</a>{% endif %}</h1>
    <nav class="site-nav">
      <ul>
        <li><a href="/articles">articles</a></li>
        <li><a href="/lab">lab</a></li>
        <li><a href="/resume">resume</a></li>
        <li><a href="https://twitter.com/patrickbrosset">twitter</a></li>
        <li><a href="https://github.com/captainbrosset/">github</a></li>
        <li><a href="http://codepen.io/captainbrosset/">codepen</a></li>
      </ul>
    </nav>
    <main>
        {{ content | safe }}
    </main>
  </body>
</html>
