---json
{
  "layout": "main-layout.njk",
  "title": "Lab"
}
---

<section class="list-section">
  <h1>{{ title }}</h1>
  <p>Bits, pieces, and experiments made with the web. Use at your own risks.</p>
</section>

{% for page in labs %}
  <section class="list-section">
    <h2><a href="{{ page.url }}">{{ page.title | safe }}</a></h2>
    <time datetime="{{ page.date }}">{{ page.date | formattedDateTime }}</time>
    <p>{{ page.description | safe }}</p>
    {% if page.img %}<a href="{{ page.url }}" class="thumbnail"><img loading="lazy" sizes="auto" src="{{ page.img }}" alt="{{ page.alt }}"></a>{% endif %}
  </section>
{% endfor %}
