---json
{
  "layout": "main-layout.njk",
  "title": "Talks"
}
---

<section class="list-section">
  <h1>Talks</h1>
  <p>Conference talks I have given over the years.</p>
  <p>Want me to speak at your event? Let me know: patrickbrosset <em>at</em> gmail <em>dot</em> com.</p>
</section>

{% for page in talks %}
  <section class="list-section"{% if page.lang %} lang="{{ page.lang }}"{% endif %}>
    <h2><a href="{{ page.url }}">{{ page.title | safe }}</a></h2>
    <time class="badge" datetime="{{ page.date }}">{{ page.date | formattedDateTime }}</time>
    <p>{{ page.description | safe }}</p>
    <figure><img loading="lazy" src="{{ page.img }}" alt="{{ page.alt }}">{% if page.credit %}<figcaption>Photo: {{ page.credit | safe }}</figcaption>{% endif %}</figure>
  </section>
{% endfor %}
