:root {
  color-scheme: light;
	--background: #fff;
	--primary: #000;
	--secondary: #0f4058;
	--text: #000;
	--sub-text: #676767;
	--code: #000000;
	--text-on-code: rgb(242, 156, 229);
	--separator: #efefef;
}

[data-theme=dark] {
  color-scheme: dark;
	--background: #000;
	--primary: #fff;
	--secondary: #97d0ed;
	--text: #fff;
	--sub-text: #e0e0e0;
	--code: #191b2d;
	--text-on-code: rgb(242, 156, 229);
	--separator: #3e3e3e;
}

@media(prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {
    color-scheme: dark;
    --background: #000;
    --primary: #fff;
    --secondary: #97d0ed;
    --text: #fff;
    --sub-text: #e0e0e0;
    --code: #191b2d;
    --text-on-code: rgb(242, 156, 229);
    --separator: #3e3e3e;
  }
}

::selection {
  background: var(--primary);
  color:var(--background);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
}

[data-theme=dark]::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  background: radial-gradient(circle, black 69%, transparent 0);
  background-repeat: no-repeat;
  background-size: 0 0;
  background-position: 0 0;
}

body {
	margin: 3rem auto;
	width: 70%;
	max-width: 800px;
	font-family: system-ui, sans-serif;
	font-size: 15pt;
	line-height: 1.7;
	color: var(--text);
	display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-columns: 100%;
	column-gap: 1rem;
  row-gap: 2rem;
}

h1, h2, h3, h4,
h1 a, h2 a, h3 a, h4 a {
  color: var(--text);
}

.home h2, .home h3 {
  font-weight: normal;
}

hr {
  background: var(--separator);
  border: 0;
  height: 3px;
  border-radius: 100vw;
}

body > h1 {
  margin: 0;
  place-self: center;
  font-weight: normal;
}

body > h1 a {
  text-decoration: none;
}

.site-nav {
  margin: 0;
  place-self: center end;
  justify-self: center;
}

@media only screen and (max-width: 750px) {
  body {
    width: 90%;
    row-gap: 1rem;
  }
}

.site-nav ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.site-nav ul,
.site-nav li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: var(--primary);
  text-underline-offset: 6px;
  text-decoration-skip-ink: none;
}

a:hover {
  color: var(--secondary);
}

a.external::after {
	content: ' [External]';
	font-size: 0.8rem;
	color: var(--sub-text);
}

main {
  grid-area: main;
  width: 100%;
  justify-self: start;
}

/* Footer */

footer {
  grid-area: footer;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  background: var(--separator);
  border-radius: 3px;
}

footer a {
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: 1px solid var(--sub-text);
}

/* Theme switcher */

.theme-switcher {
  display: inline-flex;
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: 1px solid var(--sub-text);
}

.theme-switcher input {
  display: none;
}

.theme-switcher .theme-option:hover {
  background-color: var(--text);
  color: var(--background);
}

.theme-switcher label {
	padding: 0 .25rem;
}

time {
  color: var(--sub-text);
  font-size: smaller;
}

/* Images in main content are full width */
main img {
  max-width: 100%;
  border: .5em solid var(--separator);
  border-radius: 3px;
}

main img.mini {
  max-width: 200px;
  margin: 0 auto;
  border: none;
  display: block;
}

main img.thumbnail {
  border: none;
  width: 100%;
  aspect-ratio: 2;
  object-fit: cover;
}

/* Inline code snippets */
code {
  background: var(--code);
  color: var(--text-on-code);
  padding: .3rem;
  font-size: smaller;
  border-radius: 2px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

pre {
  overflow: auto;
  max-height: 50vh;
  width: 100%;
  white-space: normal;
}

pre[class*="language-"] {
  font-size: .8em !important;
  background-color: vaR(--code) !important;
}

kbd {
	background: var(--separator);
	font-size: smaller;
	padding: .25rem;
	border-radius: .25rem;
	border: outset;
}

/* List of articles or demos */
.entries {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

@media only screen and (max-width: 600px) {
  .entries {
    grid-template-columns: 1fr;
  }
}

.entries > li {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr min-content min-content min-content;
  overflow: hidden;
}

.entries > li > * {
  background-color: var(--background);
}

.entries > li.ad {
  background: none;
}

.entries > li time {
  grid-row: 2;
  font-size: .9rem;
}

.entries li > a {
  color: var(--secondary);
  grid-row: 3;
  padding: .5rem 0;
}

.entries li > a:hover {
  text-decoration: underline;
}

.entries li > img {
  grid-row: 1;
  width: 100%;
  height: 100%;
  border: 1px solid var(--separator);
}

.entries li > p {
  margin: 0;
  font-size: 1.1rem;
}

blockquote {
  background: var(--separator);
  padding: 1rem;
  border-radius: 3px;
  font-size: 1rem;
}

blockquote > p:first-child {
  margin-top: 0;
}

blockquote > p:last-child {
  margin-bottom: 0;
}
