:root {
  color-scheme: light;
	--background: #fff;
  --primary: #007284;
  --secondary: #dc8804;
	--text: #000;
	--sub-text: #676767;
	--code: #000000;
	--text-on-code: rgb(242, 156, 229);
	--separator: #efefef;
}

[data-theme=dark] {
  color-scheme: dark;
	--background: #000;
	--primary: #00eeff;
	--secondary: #ff00b7;
	--text: #04ff6d;
	--sub-text: #ffe300;
	--code: #191b2d;
	--text-on-code: rgb(255, 254, 212);
	--separator: #3e3e3e;
}

@media(prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {
    color-scheme: dark;
    --background: #000;
    --primary: #00eeff;
    --secondary: #ff00b7;
    --text: #04ff6d;
    --sub-text: #ffe300;
    --code: #191b2d;
    --text-on-code: rgb(255, 254, 212);
    --separator: #3e3e3e;
  }
}

::selection {
  background: var(--primary);
  color:var(--background);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
}

[data-theme=dark]::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  background: radial-gradient(circle, black 69%, transparent 0);
  background-repeat: no-repeat;
  background-size: 0 0;
  background-position: 0 0;
}

body {
	margin: 3rem auto;
	width: 70%;
	max-width: 1000px;
	font-family: system-ui, sans-serif;
	font-size: 1.5rem;
	line-height: 1.7;
	color: var(--text);
	display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-columns: 100%;
	column-gap: 1rem;
  row-gap: 2rem;
}

h1, h2, h3, h4,
h1 a, h2 a, h3 a, h4 a {
  color: var(--text);
}

.home h2, .home h3 {
  font-weight: normal;
}

h2 {
  margin-block-start: 0;
}

hr {
  background: var(--separator);
  border: 0;
  height: 3px;
  border-radius: 100vw;
}

body > h1 {
  margin: 0;
  place-self: center;
  line-height: 1;
}

body > h1 a,
body > h1 a:hover {
  text-decoration: none;
}

.site-nav {
  margin: 0;
  place-self: center end;
  justify-self: center;
}

@media only screen and (max-width: 750px) {
  body {
    width: 90%;
    row-gap: 1rem;
  }
}

.site-nav ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.site-nav ul,
.site-nav li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: var(--primary);
  text-underline-offset: 6px;
  text-decoration-skip-ink: none;
}

a:hover {
  text-decoration-line: underline;
  color: var(--secondary);
}

a.thumbnail {
  text-decoration: none;
}

@supports (color: color-mix(in srgb, red 10%, black 20%)) {
  @property --offset {
    syntax: '<length>';
    inherits: false;
    initial-value: 0px;
  }
  @property --thickness {
    syntax: '<length>';
    inherits: false;
    initial-value: 0px;
  }
  a {
    --dimmed-color: color-mix(in srgb, currentColor 30%, var(--background) 100%);
    --offset: 0;
    --thickness: .5rem;
    text-decoration: underline;
    text-decoration-color: var(--dimmed-color);
    text-decoration-thickness: var(--thickness);
    text-underline-offset: var(--offset);
    transition: --offset .1s ease-in-out, --thickness .1s ease-in-out;
  }
  a:hover {
    --offset: -1em;
    --thickness: calc(1em + .5rem);
    text-decoration-color: var(--dimmed-color);
  }
  a.thumbnail {
    text-decoration: none;
  }
}

a.external::after {
	content: ' [External]';
	font-size: 0.8rem;
	color: var(--sub-text);
}
a.external[href*="css-tricks.com"]::after {
  content: ' [CSS-Tricks]';
}
a.external[href*="smashingmagazine.com"]::after {
  content: ' [Smashing Magazine]';
}
a.external[href*="blogs.windows.com/msedgedev"]::after {
  content: ' [Microsoft Edge Blog]';
}
a.external[href*="alistapart.com"]::after {
  content: ' [A List Apart]';
}
a.external[href*="web.dev"]::after {
  content: ' [web.dev]';
}
a.external[href*="hacks.mozilla.org"]::after {
  content: ' [Mozilla Hacks]';
}

main {
  grid-area: main;
  width: 100%;
  justify-self: start;
}

/* Footer */

footer {
  grid-area: footer;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  background: var(--separator);
  border-radius: 3px;
}

footer > *:not(:last-child)::after {
  content: " | ";
  color: var(--sub-text);
}

/* Theme switcher */

.theme-switcher {
  display: inline-flex;
}

.theme-switcher input {
  display: none;
}

.theme-switcher .theme-option:hover {
  background-color: var(--text);
  color: var(--background);
}

.theme-switcher label {
	padding: 0 .25rem;
}

time {
  color: var(--sub-text);
  font-size: smaller;
}

/* Images in main content are full width */
main img {
  max-width: 100%;
  border: .5em solid var(--separator);
  border-radius: 3px;
}

main img.mini {
  max-width: 200px;
  margin: 0 auto;
  border: none;
  display: block;
}

main .thumbnail img {
  border: none;
  width: 100%;
  height: 100%;
  aspect-ratio: 2;
  object-fit: cover;
}

/* Inline code snippets */
code {
  background: var(--code);
  color: var(--text-on-code);
  padding: .3rem;
  font-size: smaller;
  border-radius: 2px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

pre {
  overflow: auto;
  max-height: 50vh;
  width: 100%;
  white-space: normal;
}

pre[class*="language-"] {
  font-size: .8em !important;
  background-color: vaR(--code) !important;
}

kbd {
	background: var(--separator);
	font-size: smaller;
	padding: .25rem;
	border-radius: .25rem;
	border: outset;
}

/* List of articles or demos */
.entries {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

@media only screen and (max-width: 600px) {
  .entries {
    grid-template-columns: 1fr;
  }
}

.entries > li {
  margin: 0;
  display: grid;
  grid-template-rows: 200px min-content min-content min-content;
  gap: .5rem;
  overflow: hidden;
}

.entries > li > * {
  background-color: var(--background);
}

.entries > li.ad {
  background: none;
}

.entries > li time {
  grid-row: 2;
  font-size: .9rem;
}

.entries li > a {
  color: var(--secondary);
  grid-row: 3;
}

.entries li > .thumbnail {
  grid-row: 1;
  width: 100%;
  height: 100%;
  border: 1px solid var(--separator);
}

.entries li > p {
  margin: 0;
  /* font-size: 1.1rem; */
}

blockquote {
  background: var(--separator);
  padding: 1rem;
  border-radius: 3px;
  /* font-size: 1rem; */
}

blockquote > p:first-child {
  margin-top: 0;
}

blockquote > p:last-child {
  margin-bottom: 0;
}
