:root {
  color-scheme: light;
  --background: #fff;
  --primary: #d016a2;
  --secondary: #13be9c;
  --text: #000;
  --sub-text: #676767;
  --code: #000000;
  --text-on-code: rgb(242, 156, 229);
  --separator: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    color-scheme: dark;
    --background: #000;
    --primary: #00eeff;
    --secondary: #f03bd5;
    --text: white;
    --sub-text: #9af3fc;
    --code: #191b2d;
    --text-on-code: rgb(255, 254, 212);
    --separator: #3e3e3e;
  }
}

::selection {
  background: var(--primary);
  color: var(--background);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
}

body {
  margin: 3rem auto;
  width: 70%;
  max-width: 1000px;
  font-family: system-ui, sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
  color: var(--text);
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "socials"
    "footer";
}

@media (max-width: 600px) {
  body {
    width: 90%;
  }
}

/* Links */

a {
	color: var(--primary);
	text-decoration: underline;
	padding-block-end: 0.25rem;
	position: relative;
	text-decoration-thickness: .25rem;
	text-underline-offset: .25rem;
  text-decoration-skip-ink: none;
  transition: all .1s ease-in-out;
}

a:hover {
	text-decoration-thickness: .5rem;
}

a.external::after {
  content: " (external link)";
  font-weight: normal;
  font-size: 0.9em;
  font-style: italic;
}
a.external[href*="css-tricks.com"]::after {
  content: " (on CSS-Tricks)";
}
a.external[href*="smashingmagazine.com"]::after {
  content: " (on Smashing Magazine)";
}
a.external[href*="blogs.windows.com/msedgedev"]::after {
  content: " (on the Microsoft Edge Blog)";
}
a.external[href*="alistapart.com"]::after {
  content: " (on A List Apart)";
}
a.external[href*="web.dev"]::after {
  content: " (on web.dev)";
}
a.external[href*="hacks.mozilla.org"]::after {
  content: " (on Mozilla Hacks)";
}

/* Header */

header {
  grid-area: header;
  margin-block-end: 2rem;
}

header a {
  display: block;
  height: 3rem;
  background-image: url(/assets/patrick.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  font-size: 0;
}

header a::before {
  display: none;
}

@media (prefers-color-scheme: dark) {
  header a {
    filter: invert(1);
  }
}

body > h1 a,
body > h1 a:hover {
  text-decoration: none;
}

/* Site navigation */

.site-nav {
  margin: 0;
  place-self: center start;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .site-nav {
    font-size: 0.8em;
  }
}

.site-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.site-nav li {
  padding: 0;
  border: 1px solid var(--primary);
  border-radius: .5rem .5rem 0 0;
  overflow: hidden;
  border-width: 1px 1px 0 1px;
  margin: 0;
  list-style-type: none;
  line-height: 1;
}

.site-nav li a {
  padding: .5rem;
  display: block;
  text-decoration: none;
}

.site-nav li a:hover, .site-nav li[aria-current="page"] a {
  background: var(--primary);
  color: var(--background);
}

a.thumbnail {
  text-decoration: none;
}

/* Main */

main {
  grid-area: main;
  width: 100%;
  justify-self: start;
  border: 1px solid var(--primary);
  overflow: auto;
}

/* Pages that are not listings */

main:not(:has(.entries)) {
  padding: 2rem;
}

main:not(:has(.entries)) h1 {
  font-weight: normal;
  margin-block-start: 0;
}

main:not(:has(.entries)) p:last-child {
  margin-block-end: 0;
}

/* Social links */

.social-links {
  grid-area: socials;
  margin: 2rem 0;
}

.social-links ul,
.social-links li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.social-links a {
  width: 2rem;
  height: 2rem;
  display: block;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  color: transparent;
  font-size: 0;
  text-decoration: none;
  border-radius: 0.25rem;
}

.social-links a::before {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .social-links a {
    filter: invert(1);
  }
}

.social-links .instagram {
  background-image: url(/assets/icons/instagram.png);
}
.social-links .x {
  background-image: url(/assets/icons/x.png);
}
.social-links .youtube {
  background-image: url(/assets/icons/youtube.png);
}
.social-links .github {
  background-image: url(/assets/icons/github.png);
}
.social-links .mastodon {
  background-image: url(/assets/icons/mastodon.png);
}

/* Footer */

footer {
  grid-area: footer;
  text-align: center;
}

footer > *:not(:last-child)::after {
  content: " | ";
  color: var(--sub-text);
}

/* Time */

time {
  color: var(--sub-text);
  font-size: smaller;
}

/* Images in main content are full width */
main img {
  width: 100%;
  max-height: 40vh;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  border-radius: 3px;
}

main .no-border img {
  border: 0;
}

main img.mini {
  max-width: 200px;
  margin: 0 auto;
  border: none;
  display: block;
}

img.icon {
  all: unset;
  border: 0;
  height: 1em;
}

@media (prefers-color-scheme: dark) {
  img.icon {
    filter: invert(1);
  }
}

/* Inline code snippets */
code {
  background: var(--code);
  color: var(--text-on-code);
  padding: 0.3rem;
  font-size: smaller;
  border-radius: 2px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

pre {
  overflow: auto;
  max-height: 50vh;
  width: 100%;
  white-space: normal;
}

pre[class*="language-"] {
  font-size: 0.8em !important;
  background-color: vaR(--code) !important;
}

kbd {
  background: var(--separator);
  font-size: smaller;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: outset;
}

/* List of articles or demos */

.entries {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1px;
  background: var(--primary);
}

.entries > li {
  background: var(--background);
  margin: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 30%;
  grid-template-rows: min-content min-content 1fr;
  padding: 1rem;
}

.entries > li .thumbnail {
  grid-column: 2;
  grid-row: 1 / span 3;
  place-self: stretch;
}

.entries .thumbnail img {
	border: none;
	width: 100%;
	height: 100%;
	aspect-ratio: 1;
	object-fit: contain;
  object-position: center;
}

.entries > li a:not(.thumbnail) {
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.3;
}

.entries > li time {
  grid-row: 2;
  font-size: 0.9rem;
}

.entries li > p {
  margin: 0;
}

@media (max-width: 800px) {
  .entries {
    grid-template-columns: 1fr;
  }

  .entries > li {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content 1fr;
  }

  .entries > li .thumbnail {
    grid-column: 1;
    grid-row: 1;
    inset-inline-start: 0.5rem;
    inset-inline-end: 0;
  }

  .entries .thumbnail img {
    max-height: 20vh;
  }

  .entries > li a:not(.thumbnail) {
    grid-column: 1;
    grid-row: 2;
  }

  .entries > li time {
    grid-row: 3;
  }
}

blockquote {
  background: var(--separator);
  padding: 1rem;
  border-radius: 3px;
}

blockquote > p:first-child {
  margin-top: 0;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

hr {
	background: var(--separator);
	height: 3px;
	border: 0;
	border-radius: 100vw;
}