:root {
  --back-color: white;
  --text-color: black;
  --link-color: var(--text-color);
  --link-back-color: transparent;
  --spacing: 2rem;
  --big-spacing: 4rem;
  --separator-width: 2px;
  --separator: var(--separator-width) solid var(--text-color);
  --code-text-color: #005373ed;
  --code-back-color: #0000000a;
}

@media (max-width: 470px) {
  :root {
    --big-spacing: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --back-color: rgb(32, 32, 30);
    --text-color: rgb(252, 252, 252);
    --code-text-color: #7bcaeaed;
    --code-back-color: #FFFFFF0a;
  }
}

body {
  font-size: 15pt;
  line-height: 1.8;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: var(--back-color);
  color: var(--text-color);
}

.site-nav,
.social-links,
footer {
  padding: var(--big-spacing);
}

.social-links {
  padding-block-end: var(--spacing);
}

footer {
  padding-block-start: 0;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  justify-content: space-between;
  align-items: center;
  padding: var(--big-spacing);
}

.site-nav .title {
  display: block;
  height: 4rem;
  text-decoration: none;
}

.site-nav .title .face {
  height: 100%;
  width: auto;
  border-radius: 50%;
  margin-inline-end: 1rem;
}

.site-nav .title .name {
  height: 100%;
  width: auto;
  object-fit: contain;
}

@media (max-width: 800px) {
  .site-nav, .site-nav ul, .social-links ul {
    justify-content: center;
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .site-nav .title .name {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .site-nav .title .name {
    filter: invert(1);
  }
}

nav ul,
nav li {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

a {
  text-underline-offset: .5rem;
  color: var(--link-color);
  background: var(--link-back-color);
  transition: text-decoration-thickness .05s ease-in-out;
}

a:hover {
  text-underline-offset: calc(.5rem + 2px);
}

a.external {
  position: relative;
}

a.external::after {
  content: "";
  height: 1rem;
  margin-inline-start: 0.5rem;
  padding-inline-start: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

a.external[href*="blogs.windows.com/msedgedev"]::after,
a.external[href*="medium.com/web-on-the-edge"]::after,
a.external[href*="microsoft.github.io/win-student-devs"]::after {
  background-image: url(/assets/favicon-edge.png);
}

a.external[href*="blog.logrocket.com"]::after {
  background-image: url(/assets/favicon-logrocket.png);
}

a.external[href*="css-tricks.com"]::after {
  background-image: url(/assets/favicon-csstricks.png);
}

a.external[href*="hacks.mozilla.org"]::after {
  background-image: url(/assets/favicon-mozilla.svg);
  background-color: black;
}

a.external[href*="medium.com/mozilla-tech"]::after {
  background-image: url(/assets/favicon-mozillam.png);
}

a.external[href*="smashingmagazine.com"]::after {
  background-image: url(/assets/favicon-smashing.png);
}

a.external[href*="alistapart.com"]::after {
  background-image: url(/assets/favicon-ala.svg);
  background-color: white;
}

a.external[href*="chrome.com"]::after {
  background-image: url(/assets/favicon-chrome.png);
}

a.external[href*="24joursdeweb.fr"]::after {
  background-image: url(/assets/favicon-24jdw.svg);
  background-color: white;
}

a.external[href*="w3.org"]::after {
  background-image: url(/assets/favicon-w3.svg);
}

a.external[href*="piccalil.li"]::after {
  background-image: url(/assets/favicon-piccalilli.png);
}

nav a {
  text-transform: capitalize;
}

nav [aria-current] a {
  font-weight: bold;
}

h1 {
  margin: 0 0 var(--spacing) 0;
}

main {
  text-wrap: balance;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing);
  padding: 0 var(--big-spacing);
}

.list-section {
  flex: 1 1 20rem;
  padding: var(--spacing);
  border-radius: 1rem;
  --hue: 100;
  background: hsla(var(--hue), 50%, 90%, 0.8);
  border: var(--separator);
  display: grid;
}

.list-section:nth-child(2n) { --hue: 200; }
.list-section:nth-child(3n) { --hue: 300; }
.list-section:nth-child(4n) { --hue: 400; }
.list-section:nth-child(5n) { --hue: 500; }
.list-section:nth-child(6n) { --hue: 600; }
.list-section:nth-child(7n) { --hue: 700; }

.list-section:nth-child(2n) {
  flex-basis: 30rem;
}

.list-section:nth-child(3n) {
  flex-basis: 15rem;
}

.list-section h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.list-section time {
  font-size: smaller;
  opacity: .8;
}

.list-section:first-child {
  flex-basis: 100%;
}

.list-section:not(:first-child) {
  max-width: 50rem;
  grid-template-rows: auto auto auto 1fr;
  gap: 1rem;
}

.list-section * {
  margin: 0;
}

.list-section img {
  width: 100%;
  object-fit: contain;
  object-position: top;
  height: 100%;
}

img {
  max-width: 100%;
}

code {
  background: var(--code-back-color);
  padding: 4px;
  border-radius: 4px;
  color: var(--code-text-color);
}

p code, li code {
  font-size: 1rem;
}

hr {
  border: none;
  border-top: var(--separator);
  margin: var(--big-spacing) 0;
}

/* Full page articles */
article {
  margin: var(--big-spacing) auto;
  padding: 0 var(--big-spacing);
  max-width: 1000px;
  line-height: 2;
}

article+footer {
  max-width: 1000px;
  margin: var(--big-spacing) auto;
  padding: 0 var(--big-spacing);
}

article blockquote {
  border-inline-start: var(--separator);
  margin-inline-start: 0;
  padding-inline-start: 1rem;
  font-style: italic;
}

article h1,
article h2,
article h3 {
  line-height: 1.5;
}

article .author-date {
  margin-block-end: var(--big-spacing);
  font-size: smaller;
}