.whack-a-dialog {
  margin: var(--big-spacing) calc(-1 * var(--big-spacing));
}

@scope (.whack-a-dialog) {
  .wrapper {
    font-family: cursive;
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-rows: auto auto 1fr;
    cursor: url("../../lab/fun-with-the-web/hammer.png") 0 0, pointer;
    max-width: 1300px;
    margin: 0 auto;
  }

  p {
    margin: 0;
    font-size: clamp(9px, 4vw, 40px);
  }

  .game {
    box-sizing: border-box;
    padding: var(--spacing);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: var(--spacing);
    align-self: start;
  }

  .hole {
    border-radius: 50%;
    background: #352c01;
    grid-column: span 2;
    place-self: center;
    inline-size: 100%;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: inset 2vw 2vw 0 0 #0006, inset 3vw 3vw 0 0 #0006;
    corner-shape: superellipse(1.3);
    container: hole / size;
  }

  .hole:nth-child(4) {
    grid-column: 2 / span 2;
  }

  dialog {
    margin: 0;
    padding: 0;
    position: static;
    border: 0;
    background: url(../../lab/fun-with-the-web/mole.png) no-repeat center / 103%;
    border-radius: 50%;
    width: 100cqw;
    height: 100cqh;
    box-shadow: inset 2vw 2vw 0 0 #0006, inset 3vw 3vw 0 0 #0006
  }

  dialog[open] {
    animation: fade-in 0.1s forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      scale: .5;
    }

    to {
      opacity: 1;
      scale: 1;
    }
  }

  dialog button {
    border: 0;
    background: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    cursor: inherit;
  }

  #start, #stop {
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: transform 0.2s;
    width: max-content;
    justify-self: center;
    font-size: 1.2rem;
    border-radius: .5rem;
    background: #d8ffd8;
    margin-block-end: 1rem;
    padding: .5rem 1rem;
  }

  #stop {
    display: none;
    background: rgb(255, 211, 211);
  }

  #start:hover,
  #stop:hover {
    transform: scale(1.05);
  }

  #start:active,
  #stop:active {
    transform: scale(.95);
  }
}