---
permalink: "articles/{{ date | date: '%Y-%m-%d' }}-{{ title | slug | superSlug }}/index.html"
---

{% include "header-article.njk" %}

<article class="article">

  <div class="article-meta">
    <h1{% if titleForScreenReadersOnly %} class="sr-only"{% endif %} style="view-transition-name: article-title-{{ title | slugify }};">{{ title }}</h1>
    <time class="badge" datetime="{{ date | dateTime }}" style="view-transition-name: article-date-{{ title | slugify }};">{{ date | formattedDateTime }}</time>
    <img src="{{ thumbnail }}" width="600" alt="{% if altText %}{{ altText }}{% else %}Article thumbnail for illustration only{% endif %}" style="view-transition-name: article-thumbnail-{{ title | slugify }};">
  </div>

  {% if external %}
    {{ excerpt }}
    <p><a href="{{ external }}" rel="external">Read the article at {{ external }}</a></p>
  {% else %}
    {{ content | safe }}
  {% endif %}

</article>

{% include "footer-article.njk" %}
