    <nav class="social-links">
      <ul>
        <li><a rel="me" href="https://mas.to/@patrickbrosset" class="mastodon" title="Follow me on Mastodon">mastodon</a></li>
        <li><a href="https://bsky.app/profile/patrickbrosset.com" class="bluesky" title="Follow me on Bluesky">bluesky</a></li>
        <li><a href="https://www.linkedin.com/in/patrickbrosset/" class="linkedin" title="Follow me on LinkedIn">linkedin</a></li>
        <li><a href="https://github.com/captainbrosset/" class="github" title="Follow me on GitHub">github</a></li>
        <li><a href="https://www.youtube.com/c/PatrickBrosset" class="youtube" title="Follow me on YouTube">youtube</a></li>
      </ul>
    </nav>
    <footer>
      <span>&copy; {% year %} Patrick Brosset</span>
      -
      <span><a href="#top">Back to top</a></span>
    </footer>
  </body>
</html>