    </main>
    <footer role="contentinfo">
      <span>&copy; {% year %} Patrick Brosset</span>
      <span><a href="#top">Back to top</a></span>
      <div class="theme-switcher">
        <span class="theme-option">
          <input type="radio" id="theme-option-dark" name="theme-option-input" value="dark">
          <label for="theme-option-dark">Dark</label>
        </span>
        <span class="theme-option">
          <input type="radio" id="theme-option-light" name="theme-option-input" value="light">
          <label for="theme-option-light">Light</label>
        </span>
        <span class="theme-option">
          <input type="radio" id="theme-option-auto" name="theme-option-input" value="auto" checked>
          <label for="theme-option-auto">Auto</label>
        </span>
      </div>
    </footer>
  </body>
</html>