    </main>
    <nav class="social-links">
      <ul>
        <li><a rel="me" href="https://mas.to/@patrickbrosset" class="mastodon" title="Follow me on Mastodon">mastodon</a></li>
        <li><a href="https://x.com/patrickbrosset" class="x" title="Follow me on X">x</a></li>
        <li><a href="https://github.com/captainbrosset/" class="github" title="Follow me on GitHub">github</a></li>
        <li><a href="https://www.youtube.com/c/PatrickBrosset" class="youtube" title="Follow me on YouTube">youtube</a></li>
        <li><a href="https://www.instagram.com/brosset.patrick/" class="instagram" title="Follow me on Instagram">instagram</a></li>
      </ul>
    </nav>
    <footer>
      <span>&copy; {% year %} Patrick Brosset</span>
      <span><a href="#top">Back to top</a></span>
      <div>
        <w3c-badge language="HTML" version="5.0"></w3c-badge>
        <w3c-badge language="CSS" version="Level 4"></w3c-badge>
      </div>
    </footer>
    <script type="module" src="/assets/w3c-badge.js"></script>
  </body>
</html>