<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Patrick {% if title %} - {{ title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="RSS 2.0">
    <link href="/assets/pixel-me-256.png" rel="apple-touch-icon" sizes="256x256">
    <link href="/assets/pixel-me-32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/assets/pixel-me-16.png" rel="icon" sizes="16x16" type="image/png">
    <meta content="#ffffff" name="theme-color">
    <meta name="view-transition" content="same-origin">

    <link rel="stylesheet" type="text/css" href="/assets/common.css">
    {% if hasCode %}
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    {% endif %}

    <meta property="og:title" content="Patrick {% if title %} - {{ title }}{% endif %}">
    <meta property="og:url" content="https://patrickbrosset.com{{ page.url }}">
    <meta property="og:image" content="https://patrickbrosset.com/assets/pixel-me-512.png">
    <meta property="og:description" content="{% if title %}A blog post by Patrick Brosset: {{ title }}{% else %}Patrick Brosset's personal website{% endif %}">
    <meta name="twitter:site" content="@patrickbrosset">
    <meta property="og:site_name" content="Patrick Brosset">
    <meta name="twitter:card" content="summary">
  </head>
  <body {% if not title %} class="home"{% endif %}>
    <header><a href="/">Patrick</a></header>
    <nav class="site-nav">
      <ul>
        <li{% if page.url === "/" %} aria-current="page"{% endif %}><a href="/">home</a></li>
        <li{% if page.url === "/articles/" %} aria-current="page"{% endif %}><a href="/articles">articles</a></li>
        <li{% if page.url === "/talks/" %} aria-current="page"{% endif %}><a href="/talks">talks</a></li>
        <li{% if page.url === "/lab/" %} aria-current="page"{% endif %}><a href="/lab">lab</a></li>
        <li><a href="/resume">resume</a></li>
      </ul>
    </nav>
    <main>
