<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Patrick {% if title %} - {{ title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="RSS 2.0">
    <link href="/assets/headshot-200.avif" rel="apple-touch-icon" sizes="256x256">
    <link href="/assets/headshot-200.avif" rel="icon" sizes="16x16 32x32 128x128" type="image/avif">
    <meta content="#ffffff" name="theme-color">
    <meta name="view-transition" content="same-origin">

    <link rel="stylesheet" type="text/css" href="/assets/fluo.css">
    {% if hasCode %}
      <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    {% endif %}

    <meta property="og:title" content="Patrick {% if title %} - {{ title }}{% endif %}">
    <meta property="og:url" content="https://patrickbrosset.com{{ page.url }}">
    <meta property="og:image" content="{% if thumbnail %}{{ thumbnail }}{% else %}https://patrickbrosset.com/assets/pixel-me-512.png{% endif %}">
    <meta property="og:description" content="{% if excerpt %}{{ excerpt }}{% elif title %}{{ title }}{% else %}Patrick Brosset's personal website{% endif %}">
    <meta name="twitter:site" content="@patrickbrosset">
    <meta property="og:site_name" content="Patrick Brosset">
    <meta name="twitter:card" content="summary">
  </head>