<nav class="site-nav">
  <a class="title" href="/">
    <img class="face" src="/assets/headshot-200.avif" alt="A photo of my face against a blue background." width="200" height="200">
    <img class="name" src="/assets/signature.avif" alt="Patrick" width="200" height="93">
  </a>
  <ul>
    <li{% if page.url === "/" %} aria-current="page"{% endif %}><a href="/">Home</a></li>
    <li{% if page.url === "/articles/" %} aria-current="page"{% endif %}><a href="/articles">articles</a></li>
    <li{% if page.url === "/talks/" %} aria-current="page"{% endif %}><a href="/talks">talks</a></li>
    <li{% if page.url === "/lab/" %} aria-current="page"{% endif %}><a href="/lab">lab</a></li>
    <!-- li><a href="/resume">resume</a></li -->
  </ul>
</nav>