<li>
  {% if post.data.external %}
    <a href="{{ post.data.external }}" class="thumbnail"><img loading="lazy" src="{{ post.data.thumbnail }}" alt="{% if post.data.altText %}{{ post.data.altText }}{% else %}Article thumbnail for illustration only{% endif %}"></a>
    <h2>
      <a href="{{ post.data.external }}" class="external">{{ post.data.title }}</a>
    </h2>
  {% else %}
    <a href="{{ post.url }}" class="thumbnail"><img loading="lazy" src="{{ post.data.thumbnail }}" alt="{% if post.data.altText %}{{ post.data.altText }}{% else %}Article thumbnail for illustration only{% endif %}"></a>
    <h2>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
  {% endif %}

  <time datetime="{{ post.date | dateTime }}">{{ post.date | formattedDateTime }}</time>
  <p>{{ post.data.excerpt }}</p>
</li>
